html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: montserrat;
    src: url(../font/Montserrat-Regular.ttf);
}

* {
    font-family: montserrat, sans-serif;
}

#root {
    background-image: url(../image/DSC00983.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    text-align: center;
    color: #fff;
}

.title {
    font-size: 30px;
    padding-top: 10%;
    margin: 0 0 15px;

}

#dday {
    font-size: 70px;
    background-color: rgba(218, 215, 215, 0.288);
    width: 700px;
    margin: 0 auto;
    border-radius: 20px;
    padding-bottom: 10px;
}

.comments {
    margin: 13% auto 0;
    height: 280px;
    width: 500px;
    overflow: auto;
}

.comments::-webkit-scrollbar {
    background-color: #00000000;
}

#comments::-webkit-scrollbar-thumb {
    background-color: darkslategray;
    border-radius: 30px;
}

.addComment {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.input-comment {
    width: 400px;
    height: 35px;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0);
    font-size: 25px;
    border-radius: 10px;
    color: white;
    padding-left: 10px;
    margin-bottom: 20px;
}

.addButton {
    border: 2px solid #fff;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    margin-left: 15px;
}

.send-image {
    margin-top: 5px
}

.comment-box {
    width: 400px;
    background-color: rgba(218, 215, 215, 0.288);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: left;
}

.comment-text {
    font-size: 18px;
    margin: 0;
    padding: 15px;
    width: 380px;
    word-break: break-all;
}

.comment-date {
    padding: 15px;
    padding-top: 0;
    margin: 0;
    font-size: 10px;
}

@media screen and (max-width: 768px) {
    #dday {
        width: 500px;
        font-size: 50px;
    }

    .comments {
        margin-top: 28%
    }

    .title {
        padding-top: 20%
    }
}

@media screen and (max-height: 950px) {
    .comments {
        margin-top: 5%
    }
}

@media screen and (max-width: 501px) {
    #dday {
        width: 300px;
        font-size: 30px;
    }

    .comments {
        width: 300px;
        margin-top: 30%;
    }

    .comment-box {
        width: 280px;
    }

    .comment-text {
        width: 250px;
    }

    .input-comment {
        width: 280px;
    }
}

@media screen and (max-height: 600px) {
    #dday {
        width: 500px;
        font-size: 50px;
    }

    .title {
        padding-top: 5%;
    }

    .comments {
        margin-top: 5%;
    }
}
