html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    background-image: url(../image/2021-comming-out.png);
    background-size: cover;
    height: 100%;
    text-align: center;
    color: #fff;
}

.title {
    margin: 0px;
    font-size: 30px;
    padding-top: 10%;
}

#dday {
    font-size: 70px;
}

.comment {
    margin-top: 10%;
}